<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserLocationMapper">

    <resultMap type="UserLocation" id="UserLocationResult">
        <result property="userName" column="user_name"/>
        <result property="userAreaId" column="user_area_id"/>
        <result property="userXyz" column="user_xyz"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <sql id="selectUserLocationVo">
        select user_name, user_area_id, user_xyz, create_time, update_time from user_location
    </sql>

    <select id="selectUserLocationList" parameterType="UserLocation" resultMap="UserLocationResult">
        <include refid="selectUserLocationVo"/>
        <where>
            <if test="userName != null and userName != ''"> and user_name = #{userName}</if>
            <if test="userAreaId != null "> and user_area_id = #{userAreaId}</if>
            <if test="userXyz != null  and userXyz != ''"> and user_xyz = #{userXyz}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="selectUserLocationByUserName" parameterType="String" resultMap="UserLocationResult">
        <include refid="selectUserLocationVo"/>
        where user_name = #{userName}
    </select>

    <insert id="insertUserLocation" parameterType="UserLocation" useGeneratedKeys="true" keyProperty="userName">
        insert into user_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="userAreaId != null">user_area_id,</if>
            <if test="userXyz != null and userName != ''">user_xyz,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="userAreaId != null">#{userAreaId},</if>
            <if test="userXyz != null and userName != ''">#{userXyz},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>


    <update id="updateUserLocation" parameterType="UserLocation">
        UPDATE user_location
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userAreaId != null">user_area_id = #{userAreaId},</if>
            <if test="userXyz != null and userName != ''">user_xyz = #{userXyz},</if>
            update_time = NOW()
        </set>
        WHERE user_name = #{userName}
    </update>

</mapper>